body {
    font-family: 'Roboto', sans-serif;
    background-color:  #E5E5E5
}
.container {
    padding: 100px
}
#quick-calculate {
    -webkit-text-fill-color: #E66E8A;
    margin: 50px;
    font-size: 28px;
    font-weight: 500;
    line-height: 27px;
}

li {
    list-style: none;
    display: flex;
}
form {
    margin: 150px;
    padding-left: 100px;
    position: absolute
}
.form-control {
    width: 600px;
    background-color: #FFFFFF;
    position: auto;
}
#add-appliance {
    padding: 400px
}
#add-appliance, #reset {
    display: inline;
}
.result {
    background-color: #DDDDDD;
}

