body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.navbar ul li a:hover{
    background-color: #9A9C27;
    color: white;
    padding: 0.5em 1em;   
}
.navbar {
    height: 60px;
    position: fixed;
    width: 100%;
    
}
.into {
    background-image: url("https://res.cloudinary.com/chux/image/upload/v1569273647/img22_tcojzh.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: auto;
   width: 100%;
   
}
#top{
    text-align: center;
    padding: 280px;
    font-size: 48px;
    font-weight: bolder;
    -webkit-text-fill-color: rgb(231, 201, 31);

   
}
#top>p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
ul {
    padding: 50px
}
li {
    list-style: none;
    display:
}
li>i {
    padding: 15px;
    margin: 10px;
}
#invest {
    -webkit-text-fill-color: #2E73F4;
    font-size: 34px;
}

.advan{
    padding: 20px;
    margin-left: 25px
}

.solaruse {
    padding: 50px;
    background-color: #999999; 
    height: 600px;
    width: auto;
}
#solarlist{
    padding-right: 50px;
}
.import {
    background-color: #f0f0f0;
    padding-top: 50px;
    height: 550px;
}
.going-solar {
    margin-left: 50;
    padding: 100px;
    padding-right: 100px;
}
#basics {
    -webkit-text-fill-color: #2E73F4;
    text-align: center;
    padding-bottom: 20px;
    font-style: italic;
    font-size: 34px;    
}
.Panel-work {
    border: 2px solid;
    border-color: #E66E8A;
    border-radius: 40px 40px;
}
.switching {
    border: 2px solid;
    border-color: #E66E8A;
    border-radius: 40px 40px;
}
.difficult {
    border: 2px solid;
    border-color: #E66E8A;
    border-radius: 40px 40px 40px 40px;
}
.question {
    font-size: 23px;
    margin-top: 15px;
}
.answer {
    font-size: 20px;
    font-style: italic
}
.fa-check-circle {
    width: 10px;
    height: 15px;
    color: limegreen
}

.fa-balance-scale-left {
    margin-top: 30px;
    height: 20px;
    width: 30px;
    color: limegreen;

}
#whylogo {
    margin-bottom: 20px;
    padding-top: 0
}
#body-footer {
	background-color: #f0f0f0;
    padding: 15px;
    margin-top: 10px;
}
#body-footer-sections {
	display: flex;
    flex-flow: row;
    width: 96%;
    margin: 0 auto;
}
#body-footer-sections > div {
	width: 33.3%;
}
#body-footer-sections > div > p:nth-Child(1) {
	font-size: 1.15em;
	color: #272a3d;
	font-family: revista;
    letter-spacing: 2.5px;
    font-weight: bold;
}
#body-footer-sections > div > a, label {
	color: #999999;
    text-decoration: none;
    font-size: 1.12em;
    line-height: 1.4;
}
#footer-text {
    text-align: center;
    color: #999999;
    padding-top: 5px;
}
@include media-breakpoint-up (sm) {
    .col-md-4 {
        display: block;
    }
}