body {
    margin: 0;
    font-size: 12px;
}
#intro-nav {
    background-color: white;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 8vh;
    max-height: 60px;
    min-height: 58px;
    opacity: 0.99;
    margin-top: 0;
    display: flex;
    flex-flow: row;
    top: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}
#intro-nav-company {
    width: fit-content !important;
    padding: auto auto;
    margin-left: 3%;
    padding-top: 0.8%;
}
#intro-nav-company img {
    vertical-align: middle;
	margin-top: 2%;
    height: 25px;
    width: 25px;
    padding: 0 7px 10.5px 2px;
}
.company-logo-small {
    height: 30px;
    width: 30px;
}

#intro-nav-company-name {
    color: #bcbcbc;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.65em;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}
#intro-nav-sections {
    display: flex;
    flex-flow: row;
    width: 40% !important;
    margin-left: auto;
}
.intro-nav-sections-buttons {
    width: 20%;
    color: #bcbcbc;
    font-size: 0.8em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4% 1%;
    letter-spacing: 1.2px;
    font-weight: bold;
    cursor: pointer;
}
.intro-nav-sections-buttons:hover {
    box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    color: rgb(231, 201, 31);
    transition: color 0.5s, box-shadow 0.5s;
}
#body-main-form {
    margin: 10% auto;
    border: 0.5px solid #aaaaaa;
    border-radius: 20px;
    width: 70%;
    padding: 25px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
#body-main-form p:nth-child(1) {
    font-size: 2.2em;
    text-align: center;
    color: #272a3d;
}
#body-main-form input {
    width: 80%;
    border: 0.4px solid #bbbbbb;
    background-color: rgba(238, 237, 237, 0.3);
    color: #898989;
    margin: 20px auto;
    padding: 7px;
    border-radius: 4px;
    display: block;
}
#signup-button {
    width: 80%;
    display: inline-block;
    height: auto !important;
    padding: 10px 8px;
    border-radius: 5px;
    margin: 15px 10% !important;
    background-color: #00dd00;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.03em;
    letter-spacing: 1.1px;
}
#body-main-form hr {
    width: 80%;
    text-align: center;
    color: #eeeeee;
}
#body-main-form p {
    text-align: center;
    color: #bbbbbb;
}
#login-button {
    width: 80%;
    display: inline-block;
    height: auto !important;
    padding: 10px 8px;
    border-radius: 5px;
    margin: 5px 10% !important;
    background-color: #582bd3;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.03em;
    letter-spacing: 1.1px;
}
#body-footer {
	background-color: #f0f0f0;
    padding: 15px;
    margin-top: 10px;
}
#body-footer-sections {
	display: flex;
    flex-flow: row;
    width: 96%;
    margin: 0 auto;
}
#body-footer-sections > div {
	width: 33.3%;
}
#body-footer-sections > div > p:nth-Child(1) {
	font-size: 1.15em;
	color: #272a3d;
	font-family: revista;
    letter-spacing: 2.5px;
    font-weight: bold;
}
#body-footer-sections > div > a, label {
	color: #999999;
    text-decoration: none;
    font-size: 1.12em;
    line-height: 1.4;
}
#footer-text {
    text-align: center;
    color: #999999;
    padding-top: 5px;
}