body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



/* nav  bar */
.mynav{
    margin-bottom: 2.5em;
    margin-top: 1em;
}

.mynav img{
    display: inline-block;
    margin-right: -2em;
} 

.mynav .img2{
    margin-top: -15px;
    margin-left: -0.5em;
}


.mynav ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    float: right;
    margin-top: 2em;
}

.mynav ul li{
    
    display: inline;
    
    
}

.mynav ul li a{
    
    width: 4em;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #868686;;
    text-transform: capitalize;
    font-weight: 600;
}

.mynav ul li a:hover{
    background-color: #9A9C27;
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
}


/* form */

#sign-up{
    background-color: #441A7E;
}



.container{
    margin-top: 2em; 
}

.sign-form{
    max-width: 80%;
    margin: 2em auto;
    background-color: white;
    border: 1px solid#ccc;
    box-shadow: 2px 2px 2px #ccc;
    padding: 2em;
    border-radius: 0.8em;
}

.sign-form h3{
    text-align: center;
}

.foot {
    text-align: center;
    padding: 0.5em 1em;
    font-weight: 300;
}

@media screen and (max-width: 600px){
    .mynav{
        display: flex;
        flex-direction: column;
    }
    .mynav ul{
        display: block;
        margin-top: 2em;
    }
}