<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Solar Calculator &rsaquo; HNG 6 Team Aeolus</title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-w6tc0TXjTUnYHwVwGgnYyV12wbRoJQo9iMlC2KdkdmVvntGgzT9jvqNEF/uKaF4m"
      crossorigin="anonymous"
    />
    <style>
      header {
        padding: 50px 0 50px;
      }
    </style>

    <!-- Custom styles for this template -->
  </head>

  <body>
    <!-- Navigation -->
    <div id="app">
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
        id="mainNav"
      >
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top"
            >Solar Calculator &rsaquo; HNG 6 Team Aeolus</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">SignUp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <header class="bg-primary text-white">
        <div class="container-fluid text-center">
          <h1>Calculate Power Required for your home</h1>

          <div class="card">
            <div class="card-header">
              Solar Power Calculator
            </div>
            <div class="card-body">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <select
                      class="form-control form-control-lg"
                      v-model="appliance.name"
                    >
                      <option value="">Select Appliance</option>
                      <option v-for="app in apps" :value="app.id">{{
                        app.name
                      }}</option>
                    </select>
                  </div>

                  <div class="form-group col-md-2">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Quantity"
                      v-model="appliance.no"
                    />
                  </div>
                  <div class="form-group col-md-2">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Wattage"
                      v-model="appliance.wattage"
                    />
                  </div>
                  <div class="form-group col-md-2">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Hours/Day"
                      v-model="appliance.hour"
                    />
                  </div>

                  <div class="form-group col">
                    <button
                      type="button"
                      class="btn btn-primary btn-lg"
                      @click="addAppliance"
                    >
                      Add Appliance
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>

      <div class="container">
        <div class="row">
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Appliance Name</th>
                  <th>Number of Units</th>
                  <th>Hours On Per Day</th>
                  <th>Watts</th>
                  <th>Watt Hours per Day</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(appliance, index) in appliances" :key="index">
                  <td>{{ appName(appliance.name) }}</td>
                  <td>{{ appliance.no }}</td>
                  <td>{{ appliance.hour }}</td>
                  <td>{{ appliance.wattage }}</td>
                  <td>
                    {{ appliance.wattage * appliance.no * appliance.hour }}
                  </td>
                  <td>
                    <button
                      class="btn btn-danger"
                      @click="deleteAppliance(appliance.name)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
                <tr>
                  <th colspan="3">Total Watt Hours per Day</th>
                  <th>{{ totalPower }}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
