body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #637381;
    font-weight: 400;
}
.body-wrapper {
    overflow: hidden;
    max-width: 1600px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.body-wrapper::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    transition: visibility 0.4s linear,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    content: '';
    z-index: 999;
}
.innerbody {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    background-color: #fff;
}
header {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../assets/mobile-svg-header-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /*background-size: 1310px auto;*/
    position: relative;
    padding-top: 40px;
    /*height: 500px;*/
    padding-bottom: 3rem; 
}
header::before{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
}
#logo {
    margin: 0 auto 30px;
    display: block;
    width: 32px;
}
.m-hero {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 35px;
    line-height: 42px;
    color: #fff;
}
.m-cta {
    background: #FFFFFF;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #0099FF;
    font-weight: 500;
    border: 2px solid transparent;
}
.m-cta:hover {
    background-color: #0099ff;
    color: #fff;
    border: 2px solid #fff;
}
.a-work {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.a-work .case {
    /*max-width: 380px;*/
}
@media screen and (max-width: 67.4375em) {
    header {
        background-size: 1110px auto;
    }   
}
@media screen and (min-width: 768px) {
    .m-hero {

    }
}